nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='#') Incident Managment Site
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='#')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='#') Dashboard
      li.nav-item
        a.nav-link(href='#') Create Incident
      li.nav-item
        a.nav-link(href='/UserRegistration') User Registration
      li.nav-item.dropdown
        a.nav-link(href='#') Response
      
      li.nav-item
      <button type="button" class="btn btn-primary-right">LogIn</button>