extends layout

block content
  .jumbotron
  h1.display-4 Incident Mangment site
  p.lead
    | Create update or  change status of your incdient at aany time
  hr.my-4
  
  a.btn.btn-primary.btn-lg(href='#' role='button') create Ticket




