doctype html
html
  head
    title= title
    link(href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet')
    link(rel='stylesheet' href='fonts/icomoon/style.css')
    link(rel='stylesheet' href='css/bootstrap.min.css')
    link(rel='stylesheet' href='css/magnific-popup.css')
    link(rel='stylesheet' href='css/jquery-ui.css')
    link(rel='stylesheet' href='css/owl.carousel.min.css')
    link(rel='stylesheet' href='css/owl.theme.default.min.css')
    link(rel='stylesheet' href='css/bootstrap-datepicker.css')
    link(rel='stylesheet' href='fonts/flaticon/font/flaticon.css')
    link(rel='stylesheet' href='css/aos.css')
    link(rel='stylesheet' href='css/style.css')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  body

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include partials/header.pug
    block content
    block script
      script(src='js/jquery-3.3.1.min.js')
      script(src='js/jquery-migrate-3.0.1.min.js')
      script(src='js/jquery-ui.js')
      script(src='js/popper.min.js')
      script(src='js/bootstrap.min.js')
      script(src='js/owl.carousel.min.js')
      script(src='js/jquery.stellar.min.js')
      script(src='js/jquery.countdown.min.js')
      script(src='js/jquery.magnific-popup.min.js')
      script(src='js/bootstrap-datepicker.min.js')
      script(src='js/aos.js')
      script(src='js/main.js')

